<div class="age-calculator">
  <form [formGroup]="ageForm">
    <div class="date-inputs">
      <div class="date-input">
        <label for="day">Day</label>
        <input
          type="text"
          inputmode="numeric"
          id="day"
          formControlName="day"
          placeholder="DD"
          (input)="allowOnlyDigits($event); checkMinMax($event, 1, 31)"
        />
      </div>

      <div class="date-input">
        <label for="month">Month</label>
        <input
          type="text"
          inputmode="numeric"
          id="month"
          formControlName="month"
          placeholder="MM"
          (input)="allowOnlyDigits($event); checkMinMax($event, 1, 12)"
        />
      </div>

      <div class="date-input">
        <label for="year">Year</label>
        <input
          type="text"
          inputmode="numeric"
          id="year"
          formControlName="year"
          placeholder="YYYY"
          (input)="allowOnlyDigits($event); checkMinMax($event, 1, currentYear)"
        />
      </div>
    </div>

    @if (ageForm.errors?.['invalidDate']) {
    <div class="error-message">
      <small>Date entered is invalid.</small>
    </div>
    } @if (ageForm.errors?.['dateInFuture']) {
    <div class="error-message">
      <small>Date must be in the past.</small>
    </div>
    } @if (!ageForm.invalid ) {
    <div class="success-message">
      <small>The date entered is valid.</small>
    </div>
    }
  </form>

  <div class="divider">
    <div class="divider-line"></div>
    <button
      class="icon-button"
      [disabled]="ageForm.invalid"
      (click)="calculateAge()"
    >
      <img
        src="icon-arrow.svg"
        alt=""
        class="icon"
        [class.icon-disabled]="ageForm.invalid"
      />
    </button>
  </div>

  <div class="age-output">
    <p>
      <span class="age-output-highlight">{{
        age().years ? age().years : "--"
      }}</span>
      years
    </p>
    <p>
      <span class="age-output-highlight">{{
        age().months ? age().months : "--"
      }}</span>
      months
    </p>
    <p>
      <span class="age-output-highlight">{{
        age().days ? age().days : "--"
      }}</span>
      days
    </p>
  </div>
</div>
